

.react-date-picker__wrapper  {
    border: none;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(51,51,51,1);
-moz-box-shadow: 2px 4px 5px 0px rgba(51,51,51,1);
box-shadow: 2px 4px 5px 0px rgba(51,51,51,1);
font-size: 1.7rem;
border-radius: 8px;
padding: .3rem 1.5rem;
}


.react-date-picker__inputGroup {}