@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.mainBackground {
     height: 100vh;
    background-size: cover;
    background-position: top;
  z-index: 9;

&__carousel {
    z-index: 9;
    height: 100vh;
}


    &__arrow {
        font-size: 5rem;
        cursor: pointer;
        z-index: 9;
        color: white;
        &--next {

             position: absolute;
             left: 5rem;
             top: 45%;
        }
        &--prev {
             position: absolute;
             right: 5rem;
             top: 45%;
        }
       
    }
}

.mainBackground__background1 {
     span {
             position: absolute;
        right: -9rem;
        top: 17rem;
        transform: rotate(90deg);
        font-size: 1rem;
        color: white;
        }
    position: relative;
    width: 100%;
    height: 100vh;
    //   background-image: url(../../assets/img/mainBackground/bg1.jpeg);
  background-size: cover;
    background-position: center;
    .mainBackground__content {
    
    
    }

    .mainBackground__t1 {
       
        
        
        position: absolute;
        top: 35%;
        left: 10%;
        // list-style-type: square;
       
        // transform: translate(-50%,-50%);
    li {
            font-size: 1.6vw;
            color: white;
             margin-bottom: 1rem;
             list-style-type: square;
              font-family: 'Roboto Slab';
        }    
    }

     .mainBackground__t2 {
        position: absolute;
       top: 35%;
        right: 10%;
        
        //  transform: translate(-50%,-50%);
        li {
           list-style-type: square;
            font-size: 1.6vw;
            color: white;
            margin-bottom: 1rem;
             font-family: 'Roboto Slab';
        }    
    }

   

}





.mainBackground__background2 {
     z-index: 9;
    position: relative;
    width: 100%;
    height: 100vh;
  background-size: cover;
    background-position: 50% 50%;
    .mainBackground__content {
          z-index: 9;
         position: absolute;
        top: 43%;
        left: 32%;
        transform: translate(-50%,-50%);
        text-align: center;

     
        
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mainBackground__logoGraine {
                width: 30vw;
                margin-bottom: 2rem;
            }
               .mainBackground__button2 {
                          border: none;
                          padding: .8rem 3rem;
                           padding: .5vw 1.5vw;
                          background-color: white;
                          color: var(--color-primary);
                          font-size: 1.7rem;
                          font-size: 1.3vw;
                          border-radius: 30px;
                          border-radius: 20vw;
                          transition: all .5s;

                          &:hover {
                               background-color: var(--color-primary);
                               color: white;
                          }
                      }
             z-index: 9;
              margin-bottom: 2rem;
            
            
        }
               
    }
    .mainBackground__p1 {
        font-weight: bold;
    }
}
   


.mainBackground__background3 {
    position: relative;
    width: 100%;
    height: 100vh;
    //   background-image: url(../../assets/img/mainBackground/bg3.jpg);
  background-size: cover;
    // background-position: bottom;
     background-position: center;
    .mainBackground__content {
          z-index: 9;
        
      
        text-align: center;
          width: 100%;
       h3 {
            position: absolute;
        top: 20%;
        left: 60%;
          transform: translate(-50%,-50%);
                 
                  font-weight: 400;
                  color: white;
                  font-size: 3.5rem;
                   font-family: 'Roboto Slab'; 
                  margin-bottom: 5rem; 
                  line-height: 25px; 
                  text-align: start;  
              }
    }

}



// MOVE
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    height: 100%;
    overflow: hidden;
     z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 10%;
    bottom: -1px;
}
.bgTop {
    z-index: 3;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 1;
    opacity: 0.75;
    // border: solid 2px white;
}
.bgBottom {
    z-index: 2;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 60px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 80px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 60px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}



@media only screen and (max-width: 1300px) {
    .mainBackground__arrow {
        font-size: 3rem;
       
    }
     .mainBackground__arrow--next {
             left: 2rem;
        }
    .mainBackground__arrow--prev {
             right: 2rem;
        }

}




@media only screen and (max-width: 1000px) {

        .waveTop {
    background-size: 50% 30px;
}

.waveMiddle {
    background-size: 50% 40px;
}
.waveBottom {
    background-size: 50% 30px;
}
}


