.SideNavigation {
    display: none;
   
}


@media only screen and (max-width: 1100px) {
    .SideNavigation{
        display: block;
           position: fixed;
    top: 0;
    left: 0;
    display: flex;
     background-color: white;

    height: 5rem;
    padding: .5rem;
    width: 100%;
    font-size: 1.2rem;
    // z-index: 10000;
     z-index: 30;
    display: flex;
    justify-content: space-between;
    }
    .SideNavigation__logo {
        width: 4rem;
        height: auto;
        margin: 0 2rem;
    }
    .SideNavigation__hamburger {
        font-size: 4rem;
         margin: 0 2rem;
    }
    .SideNavigation__modal {
          position: absolute;
        top: 0;
       right:0;
    width: 75%;
    height: 100vh;
    background-color: white;
      nav {
          display: flex;
          flex-direction: column;
      }
    

    }

    .SideNavigation__link  {
        color: black !important;
    }
}