.ChooseColor  {
    display: flex;
    flex-wrap: wrap;

    &__item {
        cursor: pointer;
        margin-right: 1rem;
        margin-top: .5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 3px;
 display: flex;
           align-items: center;
           justify-content: center;
           border: 1px solid rgb(211, 211, 211);
        span {
            color: white;
           font-size: 2rem;
           
        }
    }
}


