


.ProductInfo {
    width: 95rem;
    margin: 10rem auto 8rem auto;
   

    &__item {
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-bottom: 0rem;
           position: relative;

           height: auto;
           margin-bottom: 8rem;
          
    }
     
 
    &__text {
        width: 60%;
        display: flex;
       justify-content: center;
        flex-direction: column;
       background-color: rgba(255, 255, 255, 0.8);
        padding: 2rem 0rem;
        z-index: 10;
       


       



        &--1 {
        //     position: absolute;
        // left: 45%;
        padding-left: 4rem;
      
        }

        &--2{
        //         position: absolute;
        // left: 10%;  
        padding-right: 4rem;
        }
       

      
      
        
        h3 {
            font-size: 2.5rem;
            margin-bottom: 1.5rem;
            color:  var(--color-primary);
            font-weight: 500;
            line-height: 32px;
        }
        p {
             font-size: 1.7rem;
             font-weight: 400;
        }
        span {
            width: 3rem;
            height: 3px;
            background-color: var(--color-primary);
            margin-bottom: 1.5rem;
        }
    }

    &__img {
        box-shadow: 0 1rem 2rem rgba(black, .2);

        &--2{
                    //  position: absolute;
                    // right: 0;
        }
         width: 50%;
        //  min-height: 45rem;
         object-fit: cover;

    }
}


// .ProductInfo {
//     width: 95rem;
//     margin: 10rem auto 8rem auto;
   

//     &__item {
//            display: flex;
//            justify-content: space-between;
//            align-items: center;
//            margin-bottom: 6rem;
//            position: relative;

//            height: 45rem;
          
//     }
     
 
//     &__text {
//         width: 52%;
//         display: flex;
//        justify-content: center;
//         flex-direction: column;
//        background-color: rgba(255, 255, 255, 0.8);
//         padding: 2rem 6rem;
//         z-index: 10;
       


       



//         &--1 {
//             position: absolute;
//         left: 45%;
      
//         }

//         &--2{
//                 position: absolute;
//         left: 10%;  
//         }
       

      
      
        
//         h3 {
//             font-size: 2.5rem;
//             margin-bottom: 1.5rem;
//             color:  var(--color-primary);
//             font-weight: 500;
//             line-height: 32px;
//         }
//         p {
//              font-size: 1.6rem;
//              font-weight: 400;
//         }
//     }

//     &__img {
      

//         &--2{
//                      position: absolute;
//                     right: 0;
//         }
//          width: 58%;
//         //  min-height: 45rem;
//          object-fit: cover;

//     }
// }